.color-2{
    color: #554A3C;
    font-weight: 600;
}

.contact-info{
    opacity: 0.8;
}

.phone-number, .email-address, .social-media, .location{
    margin: 40px 0px;
}

.contact-us{
    background-image: url("/Users/mac/Desktop/uas-website/assets/img/bgbanner.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 100px;
}

.inside-contact-us{
    padding: 50px;
    background-color: #DBDFC7;
}

input, textarea{
    background-color: white;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
footer input {background-color: transparent;box-shadow: none;}

label{
    font-size: 24px;
    color: #554A3C;
}

.btn-primary{
    background-color: #D97837;
    border: none;
}

.block{
    margin-bottom: 50px;
}

.subtitle{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    color: #554A3C;
}